body {
    margin: 0px;
    font-family: 'Comic Sans MS', cursive;
    background-color: #F0F8FF;
}
header {
    background-color: rgb(77, 53, 255);
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    border-bottom: 5px solid rgb(115, 0, 255);
    color: white;
}
h1 {
    font-size: 2.5em;
}
img {
    border-radius: 50%;
    border: 4px solid rgb(183, 0, 183);
    width: 150px;
    height: 150px;
}
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
section {
    background-color: white;
    padding: 20px;
    width: 800px;
    margin: 10px auto;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
}
.About-Me {
    border-radius: 15px;
}
h2 {
    color: rgb(77, 53, 255);
}
.My-projects {
    border-radius: 15px;
}
a {
  text-decoration: none;
  color: rgb(146, 8, 173);
}
a:hover {
    color: rgb(213, 5, 255);
}
a:active {
    color: rgb(221, 119, 242);
}
/* a:visited {
  color: rgb(255, 0, 0);
  text-decoration: none;
} */